firm_id,year,total_assets,monetary_funds,fair_value_through_profit_or_loss_financial_assets,interest_receivable_net,dividend_receivable_net,available_for_sale_financial_assets_net,held_to_maturity_investments_net,long_term_equity_investments_net,investment_property_net
000001,2010,,,,,,,,,
